



#logo {
height: 92px;
width: auto;
display: block;
margin: auto;
}

.searchbar{
    display: block;
    margin: auto;
}


#lykken{
    display: block;
    margin: auto;
}

#søgning{
    display: block;
    margin: auto;
}