

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This makes sure the content is centered both horizontally and vertically. */
}

#logo {
height: 15vw;
width: auto;


